
#pane{
    -fx-min-width: 100px;
    -fx-min-height: 100px;
}
.background{
    -fx-background-color: dimgrey;

}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: dimgrey;
    -fx-opacity: 0.6;
}

.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #3a3a3a;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
.text-field{
    -fx-background-color: #3a3a3a;

}